<#assign bodyclass="home">
<#include "/common/header.html">

<div class="front_panel"><div class="wrapper">
	<div class="row">
		<form action="/update/ping">	
			<div class="col g2 interest_panels">
				<h2>Your Interests</h2>
				<div class="interest_panel"><div class="panel">
					<div class="img"></div>
					<div class="content">
						<h3>Climbing</h3>
					</div>
					<div class="clear"></div>
				</div></div>
				<div class="interest_panel"><div class="panel">
					<div class="img"></div>
					<div class="content">
						<h3>Infosec</h3>
					</div>
					<div class="clear"></div>
				</div></div>
				<div class="interest_panel"><div class="panel">
					<div class="img"></div>
					<div class="content">
						<h3>Mathematics</h3>
					</div>
					<div class="clear"></div>
				</div></div>
				<div class="interest_panel"><div class="panel">
					<div class="img"></div>
					<div class="content">
						<h3>Anthropology</h3>
					</div>
					<div class="clear"></div>
				</div></div>
			</div>
							
		    <div class="col g7">				
		    	<div class="text_wrapper">
					<b><b><textarea name="ping" placeholder="vurs builds communities around your interests so you can connect with people that share them: we bring them to life." style="height: 32px;"></textarea></b></b>
					<div class="inner_button_wrapper">
						<div class="button_wrapper"><b><button><i>&nbsp;</i><span>Connect!</span></button></b></div>
					</div>
				</div>
				
				<div class="inset_wrapper"><div class="inset">
					<h1>Your Most Recent Events</h1>
					<div class="events">
						<div class="event_panel">
							<div class="panel">
								<div class="img"></div>
								<div class="content">
									<h3>Climbing</h3>
									<h1>Just scaled K2 in 4 days</h1>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="event_panel">
							<div class="panel">
								<div class="img"></div>
								<div class="content">
									<h3>Anthropology</h3>
									<h1>Launched VURS public beta</h1>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="event_panel">
							<div class="panel">
								<div class="img"></div>
								<div class="content">
									<h3>Infosec</h3>
									<h1>Released code for partial gossip distribution on github</h1>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
				</div></div>
		    </div>
		
			<div class="col g3 content_panels">
				<span class="header_side">14 Unread</span>
				<h2>Your Attention Stream</h2>
				<div class="content_panel"><div class="panel">
					<div class="img"></div>
					<div class="content">
						<h3>Climbing</h3>
						<h1>17 new members in your community</h1>
					</div>
					<div class="clear"></div>
				</div></div>
				<div class="content_panel"><div class="panel">
					<div class="img"></div>
					<div class="content">
						<h3>Infosec</h3>
						<h1>Defcon 24 on Dec 3, 2010</h1>
					</div>
					<div class="clear"></div>
				</div></div>
				<div class="content_panel"><div class="panel">
					<div class="img"></div>
					<div class="content">
						<h3>Mathematics</h3>
						<h1>All P!=NP problems have officially been proven</h1>
					</div>
					<div class="clear"></div>
				</div></div>
				<div class="content_panel"><div class="panel">
					<div class="img"></div>
					<div class="content">
						<h3>Anthropology</h3>
						<h1>Urban cultural studies uncover mysteries of the bang</h1>
					</div>
					<div class="clear"></div>
				</div></div>
				<div class="content_panel"><div class="panel">
					<div class="img"></div>
					<div class="content">
						<h3>Infosec</h3>
						<h1>Defcon 24 on Dec 3, 2010</h1>
					</div>
					<div class="clear"></div>
				</div></div>
			</div>
		
			<div class="clear"></div>
		</form>
	</div>
</div></div>

<#include "/common/footer.html">